:root {
  --primary-color: #fff;
  --secondary-color: #007bff;
  --footer-bg-color: #343a40;
  --navbar-bg-color: rgba(255, 255, 255, 0.3);
  --card-bg-color: rgba(255, 255, 255, 0.3);
  --text-color-black: #141010;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helveticaneue.woff2");
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  overflow: auto;
  background: url(/images/gradient.gif) center/cover;
}

/* NAVBAR */
nav {
  background: var(--navbar-bg-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  border: 1px solid var(--navbar-bg-color);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand:hover {
  mix-blend-mode: difference;
}

.logo {
  height: 50px;
  width: 50px;
}

a {
  color: var(--primary-color);
}

#cart-count {
  color: var(--text-color-black);
}

/* HERO */
.container {
  flex-grow: 1;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TEXT STYLES */
h1,
h2,
.lead,
.product,
.checkout,
.form-check-label,
.form-group,
.table,
.text-right {
  color: var(--primary-color);
}

/* SPECIFIC TEXT COLOR */
.white-text {
  color: var(--primary-color);
}

.black-text {
  color: var(--text-color-black);
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--primary-color);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  margin-top: auto; /* Ensure the footer stays at the bottom */
  bottom: 0;
  background: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  border: 1px solid var(--card-bg-color);
  text-align: center;
}

/* Navbar Toggler Styles */
.navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.8); /* White border for toggler */
  border-radius: 8px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255,255,255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* White icon lines */
}

/* WEBAMP */
#winamp-container {
  flex-grow: 1; /* Fills the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.winamp-window {
  margin-right: 10px; /* Space between player and visualizer */
}

.gen-window {
  width: 320px;
  height: 232px;
}

/* Media Queries */
@media (max-width: 992px) {
  body {
    overflow: auto;
    background-image: url(/images/4.gif) center/cover;
  }

  .container {
    flex: 1;
    padding-bottom: 20px;
  }

  /* Webamp container adjustments for smaller screens */
  #winamp-container {
    flex-direction: column;
    max-width: 90%;
  }

  /* Reduce the size of the Webamp window for mobile devices */
  .gen-window {
    width: 260px;
    height: 190px;
  }
}
